        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: arial, Sans-serif;
        }

        body {
            background-image: url("img/Crypto.png");
            background-size: 100% 100%;
            z-index: -1;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;

        }

        .box {
            position: absolute;
            top: 335px;
            left: 50px;
            width: 300px;
            height: 300px;
            border: solid black 3px;
            text-align: center;
            overflow: hidden;
        }

        .box select {
            width: 100px;
            height: 50px;
            font-size: 25px;
            margin-top: 70px;
        }

        .box p {
            animation: slide 7s infinite linear;
            font-size: 30px;
            font-weight: 700;
            overflow: hidden;
            transform: translateX(-100%);
            margin-top: 10px;
            text-shadow: -1px -1px 0px #000,
                0px -1px 0px #000,
                1px -1px 0px #000,
                -1px 0px 0px #000,
                1px 0px 0px #000,
                -1px 1px 0px #000,
                0px 1px 0px #000,
                1px 1px 0px #000;
            color: white;
        }


        #boxc {
            width: 1150px;
            height: 695px;
            border: solid black 3px;
            position: absolute;
            left: 700px;
            top: 90px;
            overflow: hidden;
        }


        @keyframes slide {

            /* 50%{
                        transform: translateX(0);
                    } */

            100% {
                transform: translateX(110%);
            }
        }

        @media (orientation: portrait) and (max-width: 400px) {


            .box {

                top: 30px;
                left: 85px;
                width: 220px;
                height: 200px;
            }

            .box select {
                width: 100px;
                height: 50px;
                font-size: 25px;
                margin-top: 55px;
            }

            .box p {
                font-size: 15px;
                margin-top: 5px;
            }



            #boxc {

                width: 280px;
                height: 260px;


                left: 50px;
                top: 300px;
            }







        }